{% extends "base.html" %} {% block content %}
<main class="main main--contact">
  <div class="contact">
    <dt class="contact__header">Email:</dt>
    <dd class="contact__details">
      <a href="mailto:mahfujbd2@gail.com" class="contact__link" target="_blank"
        >mahfujbd2 [at] gmail.com</a
      >
    </dd>
  </div>

  <div class="contact">
    <dt class="contact__header">Github:</dt>
    <dd class="contact__details">
      <a
        href="https://github.com/Rony-code-hub"
        class="contact__link"
        target="_blank"
        >Rony-code-hub</a
      >
    </dd>
  </div>

  <div class="contact">
    <dt class="contact__header">Facebook:</dt>
    <dd class="contact__details">
      <a
        href="https://www.facebook.com/mahfuj.ahmed.rony/"
        class="contact__link"
        target="_blank"
        >Mahfuj Ahmed Rony</a
      >
    </dd>
  </div>
</main>
{% endblock %}
