{% extends 'base.html' %} {% block content %}
<main class="main main--project">
  <div class="value">
    <img
      src="{{ url_for('static', filename=project['hero']) }}"
      alt="{{ project['name'] }}"
      class="hero"
    />
    <section class="project">
      <article class="project__content">
        <h2 class="project__heading">{{ project['name'] }}</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </article>

      <article class="project__group">
        <h3 class="project__group--heading">Technologies used</h3>

        <ul class="technology-list">
          <li class="technology-list__item">Python</li>
          <li class="technology-list__item">HTML</li>
          <li class="technology-list__item">CSS</li>
        </ul>

        <a class="cta" href="{{ project['prod'] }}">
          <img
            class="cta__icon"
            src="{{ url_for('static', filename='img/pointer.svg') }}"
          />
          View in production
        </a>
      </article>
    </section>
  </div>
</main>
{% endblock %}
